@charset "UTF-8";

header {
	height: 10vh;
	width: 100vw;
	background-color: #27303F;
}

main {
	display: flex;
	height: 90%;
	width: 100vw;
}

aside {
	height: 90vh;
	background-color: #C4C4C4;
	/* flex-basis는 크기 flex-grow 여백 조정 */
	flex-grow: 1;
}

aside > ul > li {
	margin-top: 10px;
}

section {
	flex-grow: 9;
	
}
.box {
	display: flex;
	justify-content: space-evenly;
}
.box > div {
	background-color: #C4C4C4;
	width: 300px;
	height: 200px;
	margin-top: 50px;
	margin-bottom: 50px; 
	text-align: center;
	flex-direction: column;
	;
}
.chart {
	margin-left: 55px;
}