@charset "UTF-8";

header {
	height: 10vh;
	width: 100vw;
	background-color: #27303F;
}

main {
	height: 90%;
	width: 100vw;
	display: flex;
}

aside {
	height: 90vh;
	min-width: 108px;
	background-color: #C4C4C4;
	flex-grow: 1;
	padding: 15px;
}

section {
	flex-grow: 9;
}
section > .article2 {
	width: 90%;
	height: 50px;
	background-color: #D3D3D3;
	margin: 0 auto;
}
.article1 {
	display: flex;
	align-items: center;
	padding-left: 20px;
}
section>h1 {
	margin-top: 50px;
	margin-left: 50px;
}
table {
	margin: 0 auto;
}
table, th, tr, td {
	border-collapse: collapse;
	border: 1px solid black;
}

table {
	width: 90%;
}
th {
	background-color: #778899;
	min-width: 29.5px;
}

tr {
	height: 30px;
}
.red {
	color: red;
}