
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}


.main-container {
    width: 100%;
    height: 700px;
    display: flex;
}

.main-content-search {
	position : relative;
    flex: 1;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search-contents {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom : 50px;
}

.search-contents-div {
	display : flex;
	align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color : #f9f1c0;
    border-radius : 20px;
    width : 450px;
    top : 15%;
}

.date-search-title, .kind-search-title, .location-search-title, .shelter-search-title {
    margin-bottom: 10px;
}

.search-data {
    width: 400px;
    height: 80px;
    border: 2px solid #FBD157;
    margin-bottom: 30px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.date-search, .kind-search {
	width : 400px;
	display: flex;
    align-items: center;
    justify-content: center;
    height : 40px;
}

.search-input {
    margin-left: 10px;
}

.button {
    width: 80px;
    height: 25px;
    position: relative;
    margin-left: 10px;
}
  
.btn {
    width: 80px;
    height: 25px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #FBD157;
    outline: none;
    transition: 1s ease-in-out;
}
  
svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}
  
.btn:hover {
    transition: 1s ease-in-out;
    background: #FBD157;
}
  
.btn:hover svg {
    stroke-dashoffset: -480;
}
  
.btn span {
    color: black;
    font-size: 18px;
    font-weight: 400;
}

.statistics-contents {
	margin : 30px 0;
    display : flex;
    flex-direction : column;
    align-items: center;
}

.statistics-title {
	margin-bottom : 10px;
}

.statistics-info {
	width: 400px;
    height: 150px;
    background-color: #ffffff;
    border: 2px solid #FBD157;
}

.main-content-profile {
    flex: 1.6;
    margin-right: 10px;
    overflow: auto;
    display: grid;
    grid-template-columns : repeat(3, 220px);
    gap: 20px;
}

.main-content-profile::-webkit-scrollbar {
    width: 10px; /*스크롤바의 너비*/
}

.main-content-profile::-webkit-scrollbar-thumb {
    background-color: black; /*스크롤바의 색상*/
}

.main-content-profile::-webkit-scrollbar-track {
    background-color: #FBD157; /*스크롤바 트랙 색상*/
}


.profile-div {
    width: 220px;
    height: 420px;
    background-color: #FBD157;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    cursor: pointer;
}

.dog_hidden {
	display : none;
}

.profile-contents {
    padding: 10px;
    cursor: pointer;
}

.profile-photo {
    width: 200px;
    height: 200px;
}

.profile-info {
	width : 220px;
	padding : 10px;
}

.profile-photo img {
    width: 200px;
    height: 200px;
}

.key {
	display : none;
}

@media (max-width : 500px) {
	
	.main-container {
	    display: flex;
	    flex-direction : column;
	}
	
	 .main-content-profile {
    	flex : 1.5;
        grid-template-columns : repeat(1, 1fr);
    }
    
    
	
}

@media (max-width : 700px) {
	
	.main-container {
	    display: flex;
	    flex-direction : column;
	}
	
	 .main-content-profile {
    	flex : 1.5;
        grid-template-columns : repeat(2, 1fr);
    }
    
    
	
}

@media (max-width : 915px) {
	
	.main-container {
	    display: flex;
	    flex-direction : column;
	}
	
	 .main-content-profile {
    	flex : 1.5;
        grid-template-columns : repeat(3, 1fr);
    }
    
    
	
}


@media (max-width : 1200px) {
	
	.main-content-profile {
    	flex : 1.5;
        grid-template-columns : repeat(2, 220px);
    }
    
    .search-data {
        width: 400px;
        height : 120px;
    }
    
    .statistics-info {
		width: 400px;
	    height: 300px;
	    background-color: #ffffff;
	    border: 2px solid #FBD157;
}

    .date-search {
        margin-bottom: 20px;
    }

    .date-search input {
        width: 170px;
        height: 42px;
        font-size: 1.2rem;
    }

    #search_category {
    	width : 80px;
        font-size : 1.2rem;
        padding : 5px;
    }
    
    #search {
    	font-size : 1.2rem;
    	width : 170px;
    	padding : 5px;
    }
    
    .button {
    width: 80px;
    height: 42px;
	}
	  
	.btn {
	    width: 80px;
    	height: 42px;
	    cursor: pointer;
	}
	  
	.btn span {
	    font-size: 1.2rem;
	}
	
}


@media (min-width : 1650px) {

    .main-content-profile {
    	flex : 1.5;
        grid-template-columns : repeat(4, 220px);
    }
    
    .search-contents-div {
    	width : 650px;
    }

    .search-data {
        width: 600px;
        height : 160px;
    }
    
    .statistics-info {
		width: 600px;
	    height: 300px;
	    background-color: #ffffff;
	    border: 2px solid #FBD157;
}

    .date-search {
        margin-bottom: 20px;
    }

    .date-search input {
        width: 250px;
        height: 42px;
        font-size: 1.2rem;
    }

    #search_category {
    	width : 100px;
        font-size : 1.2rem;
        padding : 5px;
    }
    
    #search {
    	font-size : 1.2rem;
    	width : 250px;
    	padding : 5px;
    }
    
    .button {
    width: 100px;
    height: 42px;
	}
	  
	.btn {
	    width: 100px;
    	height: 42px;
	    cursor: pointer;
	}
	  
	.btn span {
	    font-size: 1.2rem;
	}
    
    
}

@media (min-width : 2060px) {
	
	.main-content-profile {
    	flex : 1.5;
        grid-template-columns : repeat(5, 220px);
    }
    
    .search-contents-div {
	display : flex;
	align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color : #f9f1c0;
    border-radius : 20px;
    width : 450px;
    top : 15%;
}
	
}


@media (min-width : 2500px) {
	
	.main-content-profile {
    	flex : 1.5;
        grid-template-columns : repeat(6, 220px);
    }
    
    .main-container {
    	height : 1000px;
    }
}

@media (min-width : 3800px) {
	
	.main-content-profile {
    	flex : 2.5;
        grid-template-columns : repeat(9, 1fr);
    }
    
    .main-container {
    	height : 1400px;
    }
    
    .search-contents-div {
    	width : 900px;
    }
    
    .search-data {
        width: 800px;
        height : 240px;
    }
    
    .statistics-info {
		width: 800px;
	    height: 400px;
	    background-color: #ffffff;
	    border: 2px solid #FBD157;
}

    .date-search {
        margin-bottom: 30px;
    }

    .date-search input {
        width: 400px;
        height: 52px;
        font-size: 1.2rem;
    }

    #search_category {
    	width : 150px;
        font-size : 1.2rem;
        padding : 10px;
    }
    
    #search {
    	font-size : 1.2rem;
    	width : 350px;
    	padding : 10px;
    }
    
    .button {
	    width: 150px;
	    height: 52px;
	}
	  
	.btn {
	     width: 150px;
	    height: 52px;
	    cursor: pointer;
	}
	  
	.btn span {
	    font-size: 1.2rem;
	}
}

@media (min-width : 5100px) {
	
	.main-container {
    	height : 2000px;
    }
    
    .main-container {
    	height : 1400px;
    }
    
    .search-contents-div {
    	width : 1100px;
    }
    
    .search-data {
        width: 1000px;
        height : 240px;
    }
    
    .statistics-info {
		width: 1000px;
	    height: 400px;
	    background-color: #ffffff;
	    border: 2px solid #FBD157;
	}

    .date-search {
        margin-bottom: 30px;
    }

    .date-search input {
        width: 600px;
        height: 52px;
        font-size: 1.2rem;
    }

    #search_category {
    	width : 150px;
        font-size : 1.2rem;
        padding : 10px;
    }
    
    #search {
    	font-size : 1.2rem;
    	width : 350px;
    	padding : 10px;
    }
    
    .button {
	    width: 150px;
	    height: 52px;
	}
	  
	.btn {
	     width: 150px;
	    height: 52px;
	    cursor: pointer;
	}
	  
	.btn span {
	    font-size: 1.2rem;
	}
	
}