@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans KR', sans-serif;
    color : #cb7f2b;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* 메인 */

body {
    background-color: #F9F1C0;
}

.main-content {
    position: relative;
    width: 100%;
    height: 570px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expanation {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.content-explanation {
    color: #cb7f2b;
    line-height: 30px;
    font-size: 1rem;
    margin-left: -27px;
}

.fade-in-box1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    animation: fadein 5s;
    font-weight: bold;
}
.fade-in-box2 {
    margin-bottom: 10px;
    animation: fadein 7s;
}

.fade-in-box3 {
    margin-bottom: 10px;
    animation: fadein 9s;
}

.fade-in-box4 {
    margin-bottom: 10px;
    animation: fadein 11s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.sub-title {
    font-weight: bold;
    font-size: 1.2rem;
}

.sub-text {
    font-weight: 600;
}

.content-title {
    width: 100%;
    margin-top: 40px;
}

.expanation-title h1 {
    font-size: 1.8rem;
    min-width: 12px;
    white-space: nowrap;
    margin: 0;
    position: fixed;
    color: transparent;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.expanation-title h1::before {
    content: "아이의 두번째 이름을 지어주세요.";
    position: absolute;
    top: 460%;
    left: -75%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #cb7f2b;
    border-right: 1px solid black;
    animation: typing 5s steps(31) both;
    animation-delay: 3s;
}

@keyframes typing{
    0% {
      width: 0%;
    }
    50% {
      width: 200px;
    }
    100% {
        width: 450px;
        border: none;
    }
  }



.expanation-button {
    display: flex;
    justify-content: center;
    margin-left: -37px;
}

/* 여기서부터 버튼 css */
.button {
    width: 180px;
    height: 50px;
    position: absolute;
  }
  
  .btn {
    width: 180px;
    height: 50px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #FBD157;
    outline: none;
    transition: 1s ease-in-out;
  }
  
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: #FBD157;
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn span {
    color: black;
    font-size: 18px;
    font-weight: 600;
  }


.img {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.img img {
    width: 100%;
}

.img-color1 {
    position: absolute;   
    top: 50px;
    left: 150px;
    width: 230px;
    height: 230px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center; 
    transform: perspective(500px) rotateY(40deg);
}

.img-color2 {
    position: absolute;
    top: 200px;
    left: 30px;
    width: 230px;
    height: 230px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: perspective(500px) rotateY(40deg);    
}

.img-color3 {
    position: absolute;   
    width: 230px;
    height: 230px;
    top: 300px;
    left: 180px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center; 
    transform: perspective(500px) rotateY(40deg);
}

.welcome-img1 {
    background-image: url("../media/Introduction/welcome_img1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-img2 {
    background-image: url("../media/Introduction/welcome_img2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-img3 {
    background-image: url("../media/Introduction/welcome_img3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-color4 {
    position: absolute;
    top: 50px;
    right: 150px;
    width: 230px;
    height: 230px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center; 
    transform: perspective(500px) rotateY(150deg);  
}

.img-color5 {
    position: absolute;
    top: 200px;
    right: 30px;
    width: 230px;
    height: 230px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: perspective(500px) rotateY(150deg);
}

.img-color6 {
    position: absolute;
    top: 300px;
    right: 200px;
    width: 230px;
    height: 230px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;  
    transform: perspective(500px) rotateY(150deg); 
}

.welcome-img4 {
    background-image: url("../media/Introduction/welcome_img4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-img5 {
    background-image: url("../media/Introduction/welcome_img5.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-img6 {
    background-image: url("../media/Introduction/welcome_img6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
