@charset "UTF-8";
/* 기본 세팅 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}
/* 헤더/메인/푸터 비율설정 */
.totalContainer {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
/* header */
header {
	/* 전체 비율 */
	flex: 1;
}
.header-container {
	width: 100%;
	height: 150px;
	display: flex;
	flex-direction: row nowrap;
	background-color: #FBD157;
}
/* 페이지 이동 메뉴 */
.nav1, 
.nav2 {
	flex: 3;
}

.nav1-pagelink,
.nav2-pagelink {
	margin-top: 70px;
	border-top: 2px solid black;
}

.nav1-pagelink ul,
.nav2-pagelink ul {
	margin-top: 20px;
	display: flex;
}

.nav1-pagelink ul li,
.nav2-pagelink ul li {
	flex: 1;
}

.nav1-pagelink ul li:first-child,
.nav2-pagelink ul li:first-child {
	margin-left: 50px;
}

/* 가운데 로고 */
.header-logo img {
	width: 150px;
	height: 150px;
}

/* 메인 */
main {
	/* 전체 비율 */
	flex: 10;
	/* 내부 */
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

main nav {
	flex: 3;
}

main section {
	flex: 9;
	width: 100%;
}

/* 푸터 */
footer {
	/* 전체 비율 */
	flex: 1;
	/* 내부 */
	width: 100%;
	height: 150px;
}

/* 푸터 경계바 */
footer #bar {
	width: 100%;
	height: 10px;
	background-color: #fbd157;
	margin-bottom: 10px;
}

/* 푸터 내용 */
footer #footerContent {
	width: 100%;
	display: flex;
}

/* 로고 */
footer #footerContent .logo {
	flex: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 10px;
}

footer #footerContent .logo img {
	width: 130px;
	height: 130px;
}

/* 회사 정보 */
footer #footerContent .text {
	flex: 10;
	display: flex;
	align-items: center;
}

footer #footerContent .text p {
	font-size: 14px;
}

/* sns링크 */
footer #footerContent .sns {
	flex: 1.5;
	display: flex;
	justify-content: right;
	align-items: flex-end;
}

footer #footerContent .sns a {
	padding: 0 8px;
}

footer #footerContent .sns a img {
	width: 35px;
	height: 35px;
}
