@charset "UTF-8";
/* 메인 */
main {
	display: flex;
	flex-direction: row;
	padding: 10px;
	margin-bottom: 80px;
}
/* 네비 */
main nav {
	flex: 1;
}

/* 네비게이션 */
main nav #mnwNav {
	width: 250px;
	height: 200px;
	background-color: #f9f1c0;
	padding: 10px;
	border-radius: 15px 15px;
}

main nav #mnwNav #mnwTitle {
	padding-bottom: 5px;
}

main nav #mnwNav #mnwTitle::after {
	content: "";
	display: block;
	width: 100%;
	border-bottom: 2px solid black;
	padding-bottom: 5px;
}

main nav #mnwSubTitle {
	padding: 0 10px;
}

main nav #mnwSubTitle a {
	line-height: 40px;
}

main nav #mnwSubTitle a:not(:last-child):after {
	content: "";
	display: block;
	width: 100%;
	border-bottom: 1px solid black;
	margin: 5px 0;
}

main nav #mnwSubTitle a#focus h4 {
	background-color: RGB(251, 209, 87, .5);
	border-radius: 10px 10px;
	font-weight: 500;
}

main nav #mnwSubTitle a h4 {
	padding-left: 5px;
	font-weight: 400;
}

main nav #mnwSubTitle a:hover>h4 {
	background-color: RGB(251, 209, 87, .5);
	border-radius: 10px 10px;
	font-weight: 500;
}
/* 게시판 영역 */
main section {
	flex: 9;
	width: 100%;
	height: 100%;
	padding: 0 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
/* 게시판 상단 슬라이더 영역 */
main section #arti1 {
	width: 1550px;
	height: 200px;
	background-color: #f9f1c0;
	border-radius: 15px 15px;
	/* 슬라이드 설정 */
	position: relative;
	overflow: hidden;
}

main section #arti1 #slideBox {
	display: flex;
	flex-direction: row;
	padding: 10px 50px;
	/* 슬라이드 설정 */
	position: absolute;
	left: 0;
	top: 0;
}

main section #arti1 #slideBox.animated {
	transition: .5s ease-out;
}

main section #arti1 #slideBox .slides {
	width: 250px;
	height: 150px;
	background-color: #fbd157;
}

main section #arti1 #slideBox .slides:not(:last-child) {
	margin-right: 50px;
}

main section #arti1 #slideBox .slides .slideContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
}

main section #arti1 #slideBox .slides .slideContent img {
	width: 230px;
	height: 100px;
	margin: 0 10px;
	/* 실제 사진 추가 후 지우기 */
	background-color: #fff;
}

main section #arti1 #slideBox .slides .slideContent .text {
	width: 200px;
}

main section #arti1 #slideBox .slides .slideContent .text h3 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: normal;
	font-size: 15px;
}
/* 슬라이드 버튼 */
main section .buttonBox {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 10px;
}

main section .buttonBox #prev {
	margin-right: 20px;
}

main section .buttonBox #prev, main section .buttonBox #next {
	width: 80px;
	padding: 5px;
	background-color: #f9f1c0;
	border: 2px solid #fbd157;
	outline: none;
	border-radius: 15px 15px;
	color: #fbd157;
	cursor: pointer;
}

/* 게시판 */
main section #arti2 {
	width: 1550px;
	background-color: #f9f1c0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px 15px;
}

main section #arti2 #boardBox {
	width: 93%;
	margin: 20px;
	padding: 20px;
	background-color: #fff;
	border-radius: 15px 15px;
}

main section #arti2 #boardBox h1 {
	font-size: 30px;
	margin-bottom: 30px;
	padding: 10px;
}

main section #arti2 #boardBox>h1::after {
	content: "";
	display: block;
	width: 100%;
	border-bottom: 2px solid black;
	margin-top: 10px;
}

main section #arti2 #boardBox #board {
	width: 100%;
	padding: 30px;
}
/* 게시판 글쓰기 버튼 */
main section #arti2 #boardBox #board #writeBox {
	width: 100%;
	text-align: right;
	margin-bottom: 20px;
}

main section #arti2 #boardBox #board #writeBox #writeBtn {
	padding: 10px;
	background-color: #fbd157;
	border: none;
	outline: none;
	font-weight: bold;
	cursor: pointer;
}

main section #arti2 #boardBox #board #writeBox #writeBtn:hover {
	background-color: #f9f1c0;
	padding: 8px;
	border: 2px solid #fbd157;
}
/* 게시글 정보 */
main section #arti2 #boardBox #board #boardTable:not(:first-child) {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 10px;
}

main section #arti2 #boardBox #board #boardTable thead tr th {
	border-bottom: 1.2px solid #323232;
}

main section #arti2 #boardBox #board #boardTable tbody tr td:nth-child(2) img
	{
	width: 180px;
	height: 120px;
}

main section #arti2 #boardBox #board #boardTable tbody tr td:not(:nth-child(3))
	{
	text-align: center;
	height: 100px;
}

main section #arti2 #boardBox #board #boardTable tbody tr td:nth-child(3) p
	{
	font-size: 13px;
}

main section #arti2 #boardBox #board #boardTable tbody tr td:first-child
	{
	border-right: 1px solid black;
	font-weight: bold;
}

main section #arti2 #boardBox #board #boardTable tbody tr td:not(:first-child)
	{
	border-bottom: 1px solid black;
}
/* 게시글 상태에 따른 처리 */
main section #arti2 #boardBox #board #boardTable tbody tr {
	position: relative;
}

main section #arti2 #boardBox #board #boardTable tbody tr.back::after {
	content: "귀가";
	color: #D0DF1D;
}

main section #arti2 #boardBox #board #boardTable tbody tr.end::after {
	content: "종료";
	color: black;
}

main section #arti2 #boardBox #board #boardTable tbody tr.report::after
	{
	content: "신고된 글입니다.";
	color: #800000;
}

main section #arti2 #boardBox #board #boardTable tbody tr.back::after,
	main section #arti2 #boardBox #board #boardTable tbody tr.end::after,
	main section #arti2 #boardBox #board #boardTable tbody tr.report::after
	{
	display: table;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, .5);
	font-weight: 900;
	font-size: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 게시판 페이징 버튼 */
/*게시글 검색*/
main section #arti2 #boardBox #board #pagingBox, main section #arti2 #boardBox #board .searchBox
	{
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

main section #arti2 #boardBox #board #pagingBox .paging {
	color: #fbd157;
}

main section #arti2 #boardBox #board .searchBox #searchType, main section #arti2 #boardBox #board .searchBox #search
	{
	margin-right: 10px;
}

main section #arti2 #boardBox #board .searchBox #searchBtn {
	border: none;
	outline: none;
	background-color: #fbd157;
	padding: 10px;
	font-weight: bold;
	cursor: pointer;
}

main section #arti2 #boardBox #board .searchBox #searchBtn:hover {
	background-color: #f9f1c0;
	padding: 8px;
	border: 2px solid #fbd157;
}

/* 글쓰기 페이지 */
/* 상단 게시판 제목 */
main section #arti1 #menuText {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: right;
	align-items: flex-end;
}

main section #arti1 #menuText span {
	padding: 20px;
	font-size: 50px;
	font-weight: bold;
}

main section #arti2 #boardBox #board #boardContent {
	width: 100%;
}
/* 게시글 제목 */
main section #arti2 #boardBox #boardContent #title {
	background-color: transparent;
	border: none;
	outline: none;
	padding: 20px 0;
	font-size: 35px;
	width: 100%;
}

main section #arti2 #boardBox #boardContent #title::placeholder {
	color: #ddd;
	font-size: 40px;
}
/* 작성자 아이디 */
main section #arti2 #boardBox #board #boardContent label[for=id] {
	font-size: 20px;
	font-weight: 500;
}

main section #arti2 #boardBox #board #boardContent #id {
	border: none;
	outline: none;
	margin-left: 10px;
	font-size: 20px;
}
/* 기본정보 */
main section #arti2 #boardBox #board #boardContent #informBox {
	width: 90%;
	margin: 30px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main section #arti2 #boardBox #board #boardContent #informBox #informTitle
	{
	width: 90%;
	color: red;
	font-weight: bold;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform {
	width: 90%;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform #informTable
	{
	width: 100%;
	height: 100%;
	border-collapse: separate;
	border-spacing: 20px;
}

/* 사진 추가 버튼 */
main section #arti2 #boardBox #board #boardContent #informBox #inform #informTable #callUpload
	{
	padding: 5px;
	background-color: #fbd157;
	border: none;
	outline: none;
	font-weight: bold;
	cursor: pointer;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform #informTable #callUpload:hover
	{
	background-color: #f9f1c0;
	padding: 4px;
	border: 1px solid #fbd157;
}
/* 특징란 input확장 */
main section #arti2 #boardBox #board #boardContent #informBox #inform #informTable #characters
	{
	width: 80%;
}
/* 실종장소란 input확장 */
main section #arti2 #boardBox #board #boardContent #informBox #inform #informTable #location
	{
	width: 80%;
}
/* content 작성란 (텍스트 에디터) */
main section #arti2 #boardBox #board #boardContent #informBox #inform #content
	{
	width: 99.8%;
	height: 100%;
}
/* 등록 버튼 */
main section #arti2 #boardBox #board .submitBtnBox {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

main section #arti2 #boardBox #board .submitBtnBox #submit,
main section #arti2 #boardBox #board .submitBtnBox #preview {
	padding: 10px 30px;
	margin: 0 10px;
	background-color: #fbd157;
	border: none;
	outline: none;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
}

main section #arti2 #boardBox #board .submitBtnBox #submit:hover {
	background-color: #f9f1c0;
	padding: 9px 29px;
	border: 1px solid #fbd157;
}

/* 게시글 읽기 페이지 */
/* 수정, 귀가, 종료, 신고 버튼 */
main section #arti2 #boardBox #board #boardContent .btnBox {
	width: 100%;
	text-align: right;
}

main section #arti2 #boardBox #board #boardContent .btnBox a {
	padding: 10px;
	background-color: #fbd157;
	margin: 5px;
	font-weight: bold;
}

main section #arti2 #boardBox #board #boardContent .btnBox a:hover {
	padding: 8px;
	background-color: #f9f1c0;
	border: 2px solid #fbd157;
}
/* 사진 슬라이드 */
main section #arti2 #boardBox #board #boardContent #informBox #inform .imgBox
	{
	width: 100%;
	height: 600px;
	overflow: hidden;
	position: relative;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform .imgBox img
	{
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 10px 10px;
}

@keyframes fade {
	from { 
	opacity:0.4;
	}

	to {
	opacity: 1;
	}

}
.fade {
	animation: fade 0.5s;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform .imgBox .dotbox
	{
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform .imgBox .dotbox .dot
	{
	cursor: pointer;
	height: 20px;
	width: 20px;
	margin: 0 10px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform .imgBox .dotbox .dot.active,
main section #arti2 #boardBox #board #boardContent #informBox #inform .imgBox .dotbox .dot:hover
	{
	background-color: #fbd157;
}
/* content */
main section #arti2 #boardBox #board #boardContent #informBox #inform #readContent
	{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid black;
}
/* 댓글 */
/* 댓글 작성 */
main section #arti2 #boardBox #board #boardContent #informBox #inform .comment
	{
	width: 100%;
	height: 100%;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform .comment .commentCreate #commentCreator
	{
	resize: none;
	width: 100%;
	height: 100%;
	font-size: 20px;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform .comment .commentCreate .cmtSubmitBox
	{
	width: 100%;
	display: flex;
	justify-content: right;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform .comment .commentCreate .cmtSubmitBox #cmtSubmit
	{
	padding: 8px 10px;
	background-color: #fbd157;
	border: none;
	outline: none;
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform .comment .commentCreate .cmtSubmitBox #cmtSubmit:hover
	{
	padding: 6px 8px;
	background-color: #f9f1c0;
	border: 2px solid #fbd157;
}
/* 댓글 리스트 및 삭제 */
main section #arti2 #boardBox #board #boardContent #informBox #inform .comment #commentList
	{
	width: 100%;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform .comment #commentList .cmt::before
	{
	content: "";
	display: block;
	border-bottom: 1px solid #fbd157;
	width: 100%;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform .comment #commentList .cmt .cmtInform
	{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform .comment #commentList .cmt .cmtInform .cmtWriter
	{
	display: inline;
	background-color: #fbd157;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform .comment #commentList .cmt .cmtInform .cmtDelete,
main section #arti2 #boardBox #board #boardContent #informBox #inform .comment #commentList .cmt .cmtInform .cmtReport
	{
	padding: 5px;
	background-color: #fbd157;
	border: none;
	outline: none;
	font-weight: bold;
	font-size: 10px;
	cursor: pointer;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform .comment #commentList .cmt .cmtInform .cmtDelete:hover,
main section #arti2 #boardBox #board #boardContent #informBox #inform .comment #commentList .cmt .cmtInform .cmtReport:hover
	{
	padding: 3px;
	background-color: #f9f1c0;
	border: 2px solid #fbd157;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform .comment #commentList .cmt .cmtDate
	{
	font-size: 12px;
	padding-bottom: 8px;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform .comment #commentList .cmt .cmtContent
	{
	margin-bottom: 10px;
}

/* 글 수정 페이지 */
main section #arti2 #boardBox #board #boardContent #informBox #inform #informTable .fileBox p
	{
	font-size: 13px;
	font-weight: bold;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform #informTable .fileBox .savedFile
	{
	display: flex;
	flex-direction: row;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform #informTable .fileBox .savedFile li
	{
	margin-right: 5px;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform #informTable .fileBox .savedFile li img
	{
	width: 100px;
	height: 100px;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform #informTable .fileBox .savedFile li .deleteFile
	{
	width: 100%;
	background-color: #fbd157;
	border: none;
	outline: none;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform #informTable .fileBox .savedFile li .deleteFile:hover {
	background-color: #f9f1c0;
}

/* 셀프전단지 */
main section #arti2 #boardBox #board #flyerBox {
	width: 100%;
	height: 100vh;
	overflow-y: auto;
}

main section #arti2 #boardBox #board #flyerBox::-webkit-scrollbar {
	width: 15px; /*스크롤바의 너비*/
}

main section #arti2 #boardBox #board #flyerBox::-webkit-scrollbar-thumb {
	background-color: #FBD157; /*스크롤바의 색상*/
	border-radius: 20px;
}

main section #arti2 #boardBox #board #flyerBox::-webkit-scrollbar-track {
	background-color: white; /*스크롤바 트랙 색상*/
}

main section #arti2 #boardBox #board #flyerBox #flyers {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, .29fr);
	gap: 30px 50px;
	padding: 10px; margin : 0 auto;
	justify-content: space-between;
	margin: 0 auto;
}

main section #arti2 #boardBox #board #flyerBox #flyers a .flyer {
	width: 100%;
	height: 400px;
	padding: 10px;
	background-color: #fbd157;
}

main section #arti2 #boardBox #board #flyerBox #flyers .flyer .flyerImg {
	height: 80%;
	background-color: #fff;
}

main section #arti2 #boardBox #board #flyerBox #flyers .flyer .flyerImg img {
	width: 100%;
	height: 100%;
}
/* 셀프 전단지 상태 처리 */
main section #arti2 #boardBox #board #flyerBox #flyers a {
	position: relative;
}
main section #arti2 #boardBox #board #flyerBox #flyers a .flyer.back:after {
	content: "귀가";
	color: #D0DF1D;
}
main section #arti2 #boardBox #board #flyerBox #flyers a .flyer.end:after {
	content: "종료";
	color: black;
}
main section #arti2 #boardBox #board #flyerBox #flyers a .flyer.report:after {
	content: "신고된 글입니다.";
	color: #800000;
}

main section #arti2 #boardBox #board #flyerBox #flyers a .flyer.back:after,
main section #arti2 #boardBox #board #flyerBox #flyers a .flyer.end:after,
main section #arti2 #boardBox #board #flyerBox #flyers a .flyer.report:after {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, .5);
	font-weight: 900;
	font-size: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* 셀프전단지 읽기 */
main section #arti2 #boardBox #board #boardContent #printNshare {
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
}
main section #arti2 #boardBox #board #boardContent #printNshare #printBtn {
	background-color: transparent;
	border: none;
	outline: none;
}
main section #arti2 #boardBox #board #boardContent #informBox #inform #flyerContent
	{
	width: 100%;
	border: 5px solid black;
	margin-bottom: 100px;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform #flyerContent #flyerTitle
	{
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: #ff8080; */
}

main section #arti2 #boardBox #board #boardContent #informBox #inform #flyerContent #flyerTitle>h1
	{
	padding: 0;
	margin: 0;
	font-size: 50px;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform #flyerContent>.imgBox,
main section #arti2 #boardBox #board #boardContent #informBox #inform #flyerContent>.informTable
	{
	padding: 50px;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform #flyerContent>.imgBox
	{
	width: 80%;
	height: 600px;
	margin: 20px auto;
	padding: 0;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform #flyerContent>#informTable,
main section #arti2 #boardBox #board #boardContent #informBox #inform #flyerContent>#flyerReward
	{
	width: 80%;
	padding: 0;
	margin: 30px auto;
	background-color: #eee;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform #flyerContent>#flyerReward
	{
	text-align: center;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform #flyerContent>#flyerReward li:first-child
	{
	font-size: 25px;
	font-weight: bold;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform #flyerContent>#informTable tr,
main section #arti2 #boardBox #board #boardContent #informBox #inform #flyerContent>#flyerReward li:last-child
	{
	font-size: 30px;
	font-weight: bold;
	line-height: 100px;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform #flyerContent>#flyerReward li:nth-child(2)
	{
	font-size: 20px;
	font-weight: bold;
	color: red;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform #flyerContent>#informTable #petName,
main section #arti2 #boardBox #board #boardContent #informBox #inform #flyerContent>#informTable #species,
main section #arti2 #boardBox #board #boardContent #informBox #inform #flyerContent>#informTable #characters,
main section #arti2 #boardBox #board #boardContent #informBox #inform #flyerContent>#informTable #location
	{
	border: none;
	outline: none;
	font-size: 30px;
	font-weight: bold;
	background-color: #eee;
	width: 100%;
}

/* 전단지 프린트 설정 */
@media print {
	main section #arti2 {
		background-color: transparent;
		padding: 0;
		margin: 0;
	}
	header, footer, nav,
	main section #arti2 #boardBox #board #boardContent #title,
	main section #arti2 #boardBox #board #boardContent #id, 
	main section #arti2 #boardBox #board #boardContent #sessinId,
	main section #arti2 #boardBox #board #boardContent .printNshare,
	main section #arti2 #boardBox #board #boardContent .btnBox,
	main section #arti2 #boardBox #board #boardContent #printNshare,
	main section #arti2 #boardBox #board #boardContent #informBox #inform .comment {
		display: none;
		padding: 0;
		margin: 0;
	}
	main section #arti2 #boardBox #board #boardContent #informBox #inform #flyerContent {
		position: absolute;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto 0;

	}
	/* 인쇄시 머릿글, 꼬릿글 지우기 */
	@page {
		margin: 0;
	}
	body {
		margin: 1.6cm;
	}
}

/* 셀프전단지 만들기 */
main section #arti2 #boardBox #board #boardContent #informBox #inform #flyerMaker {
	width: 100%;
}
main section #arti2 #boardBox #board #boardContent #informBox #inform #flyerMaker .question {
	width: 30%;
	margin: 20px auto;
	padding: 5px;
	background-color: #fbd157;
}
main section #arti2 #boardBox #board #boardContent #informBox #inform #flyerMaker .question input,
main section #arti2 #boardBox #board #boardContent #informBox #inform #flyerMaker .question select,
main section #arti2 #boardBox #board #boardContent #informBox #inform #flyerMaker .question button {
	width: 100%;
	border: none;
	outline: none;
}
main section #arti2 #boardBox #board #boardContent #informBox #inform #flyerMaker .question #fileResult,
main section #arti2 #boardBox #board #boardContent #informBox #inform #flyerMaker #q10 p span {
	font-size: 13px;
	font-weight: 500;
}
main section #arti2 #boardBox #board #boardContent #informBox #inform #flyerMaker .question #filePath {
	display: none;
}

/* 신고 게시판 */
main section #arti2 #boardBox #board #boardContent #informBox #inform #reportTable {
	width: 100%;
	height: 100%;
	margin: 0;
}

main section #arti2 #boardBox #board #boardContent #informBox #inform #reportTable #reportUrl {
	font-size: 20px;
	font-weight: bold;
	color: red;
}
main section #arti2 #boardBox #board #boardContent #informBox #inform #reportTable #content {
	resize: none;
	padding: 10px;
	background-color: #f9f1c0;
	font-size: 20px;
}
main section #arti2 #boardBox #board #boardContent #informBox #inform #reportTable #content::placeholder {
	font-size: 20px;
}