@charset "UTF-8";

/* 나의 실종, 목격 */
/* 페이징 css */
main section #arti1 .content .myList>#pagingBox,
main section #arti1 .content .myList>.searchBox {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

main section #arti1 .content .myList>#pagingBox .paging {
	color: #fbd157;
}

main section #arti1 .content .myList>.searchBox #searchType, 
main section #arti1 .content .myList>.searchBox #search {
	margin-right: 10px;
}

main section #arti1 .content .myList>.searchBox #searchBtn {
	border: none;
	outline: none;
	background-color: #fbd157;
	padding: 10px;
	font-weight: bold;
	cursor: pointer;
}

main section #arti1 .content .myList>.searchBox #searchBtn:hover {
	background-color: #f9f1c0;
	padding: 8px;
	border: 2px solid #fbd157;
}

@media ( max-width : 780px) {
	main section #arti1 .content .myList>.searchBox #searchBtn {
	    padding: 5px;
	}
	main section #arti1 .content .myList>.searchBox #searchBtn:hover {
		padding: 3px;
		border: 2px solid #fbd157;
	}	
}