@charset "UTF-8";
/* 메인 */
main {
	display: flex;
	flex-direction: row;
}

main section {
	width: 1200px;
	height: 680px;
	margin: auto;
}

/* notice */
main section article #noticeBoard {
	height:613px;
	margin: 20px 25px 0 25px;
	padding: 25px;
	border: 25px solid #f9f1c0;
    border-radius: 25px;
}

main section #arti1 #noticeBoard h1:nth-child(1)::after {
	content: "";
	display: block;
	width: 100%;
	border-bottom: 2px solid black;
	margin-top: 10px;
}

table thead tr th:nth-of-type(1) {width: 100px;}
table thead tr th:nth-of-type(2) {width: 500px;}
table thead tr th:nth-of-type(3) {width: 350px;}
table thead tr th:nth-of-type(4) {width: 250px;}
table thead tr th:nth-of-type(5) {width: 100px;}
table thead tr:nth-child(1)::after {
	content: "";
	display: block;
	width: 100%;
	border-bottom: 2px solid black;
}

table {
	text-align: center;
	border-bottom: 1px solid black;
	border-collapse: collapse;
}

table tr{
	line-height:35px;
	text-align: center;
	border-bottom: 1px dotted black;
}

#NoticeBBS{
	margin-top:20px;
	text-align: center;
}

#NoticeBBS > a {
	font-size:1.3rem;
	color:black;
	transition:0.7s;
}

#NoticeBBS > span {
	font-size:1.3rem;
	color:#FBD157;
	transition:0.7s;
}

#NoticeBBS > a:hover {
	transition:0.7s;
	color: #FBD157;
}





/* notice_create */
main section article #noticeCreateBoard {
	height:620px;
	margin: 20px 25px 0 25px;
	padding: 25px;
	border: 25px solid #f9f1c0;
    border-radius: 25px;
    overflow: auto;
}

main section #arti1 #noticeCreateBoard h1:nth-child(1)::after {
	content: "";
	display: block;
	width: 100%;
	border-bottom: 2px solid black;
	margin-top: 10px;
}

main section #arti1 #noticeCreateBoard h2{
	background-color: #f9f1c0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

main section #arti1 #noticeCreateBoard h4{
	border-bottom: 1px solid black;
	padding:5px;
}

main section #arti1 #noticeCreateBoard p{
	padding:10px;
}

#noticeCreateBoard::-webkit-scrollbar{width: 15px;}
#noticeCreateBoard::-webkit-scrollbar-track {background-color:white;}
#noticeCreateBoard::-webkit-scrollbar-thumb {background-color:#FBD157;border-radius: 10px;}
#noticeCreateBoard::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
width:16px;height:16px;background:#f1ef79;} 
#noticeModifyBoard::-webkit-scrollbar{width: 15px;}
#noticeModifyBoard::-webkit-scrollbar-track {background-color:white;}
#noticeModifyBoard::-webkit-scrollbar-thumb {background-color:#FBD157;border-radius: 10px;}
#noticeModifyBoard::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
width:16px;height:16px;background:#f1ef79;} 
#noticeDetailBoard::-webkit-scrollbar{width: 15px;}
#noticeDetailBoard::-webkit-scrollbar-track {background-color:white;}
#noticeDetailBoard::-webkit-scrollbar-thumb {background-color:#FBD157;border-radius: 10px;}
#noticeDetailBoard::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
width:16px;height:16px;background:#f1ef79;} 


/* notice_detail */
main section article #noticeDetailBoard {
	height:620px;
	margin: 20px 25px 0 25px;
	padding: 25px;
	border: 25px solid #f9f1c0;
    border-radius: 25px;
    overflow: auto;
}

main section #arti1 #noticeDetailBoard h1:nth-child(1)::after {
	content: "";
	display: block;
	width: 100%;
	border-bottom: 2px solid black;
	margin-top: 10px;
}

main section #arti1 #noticeDetailBoard h2{
	background-color: #f9f1c0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

main section #arti1 #noticeDetailBoard h4{
	border-bottom: 1px solid black;
	padding:5px;
}

main section #arti1 #noticeDetailBoard p{
	padding:10px;
}

main section #arti1 #noticeDetailButtons{
	text-align: end;
    margin: 5px 60px 0 0px;
}

#noticeDetailBoardFiles{
	position: relative;
	top:70px;
	border: 2px solid #FBD157;
    border-radius: 10px;
    padding: 10px;
}

#noticeDetailBoardFiles a:hover{
	text-decoration: underline;
}



/* notice_modify */
main section article #noticeModifyBoard {
	height:620px;
	margin: 20px 25px 0 25px;
	padding: 25px;
	border: 25px solid #f9f1c0;
    border-radius: 25px;
    overflow: auto;
}

main section #arti1 #noticeModifyBoard h1:nth-child(1)::after {
	content: "";
	display: block;
	width: 100%;
	border-bottom: 2px solid black;
	margin-top: 10px;
}

main section #arti1 #noticeModifyBoard h2{
	background-color: #f9f1c0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

main section #arti1 #noticeModifyBoard h4{
	border-bottom: 1px solid black;
	padding:5px;
}

main section #arti1 #noticeModifyBoard p{
	padding:10px;
}

/* 랩탑 */
@media ( max-width : 1260px) {
	main {
		display: flex;
		flex-direction: row;
	}
	
	main section {
		width: 1000px;
		height: 680px;
		margin: auto;
	}
}


/* 태블릿 */
@media ( max-width : 1000px) {
main {
	display: flex;
	flex-direction: row;
	}
	
	main section {
		width: 750px;
		height: 680px;
		margin: auto;
	}
	
	table th{font-size: 0.8rem;}
	table td{font-size: 0.9rem;}
	
	main section article #noticeBoard {
		padding: 10px;
	}
}


/* 탭 */
@media ( max-width : 780px) {
	main {
	display: flex;
	flex-direction: row;
	}
	
	main section {
		width: 600px;
		height: 680px;
		margin: auto;
	}
	
	table th{font-size: 0.7rem;}
	
	table thead tr th:nth-of-type(5) {
		width: 120px;
	}

}
/* 모바일 */
@media ( max-width : 500px) {
	main {
	display: flex;
	flex-direction: row;
	}
	
	main section {
		width: 900px;
		height: 680px;
		margin: auto;
	}
}