@charset "UTF-8";

main {
	display: flex;
	flex-direction: row;
}

main section {
	width: 1200px;
	height: 680px;
	margin: auto;
}

main .reserBBS {
	width: 1200px;
	height: 900px;
	margin: auto;
}

/* 상담예약 게시판 */
main section article #reserBBSBoard {
	margin: 20px 25px 0 25px;
	padding: 25px;
	border: 25px solid #f9f1c0;
    border-radius: 25px;
}

table thead tr th:nth-of-type(1) {width: 100px;}
table thead tr th:nth-of-type(2) {width: 500px;}
table thead tr th:nth-of-type(3) {width: 350px;}
table thead tr th:nth-of-type(4) {width: 250px;}
table thead tr th:nth-of-type(5) {width: 100px;}
table thead tr:nth-child(1)::after {
	content: "";
	display: block;
	width: 100%;
	border-bottom: 2px solid black;
}

table {
	text-align: center;
	border-bottom: 1px solid black;
	border-collapse: collapse;
}

table tr{
	line-height:35px;
	text-align: center;
	border-bottom: 1px dotted black;
}

#NoticePage{
	margin-top:20px;
	text-align: center;
}

#NoticePage a {
	font-size:1.3rem;
	color:black;
	transition:0.7s;
}

#NoticePage span {
	font-size:1.3rem;
	color:#FBD157;
	transition:0.7s;
}

#NoticePage a:hover {
	transition:0.7s;
	color: #FBD157;
}

#NoticePage input, select{
	border : 1px solid #FBD157;
	outline: none;
}

main section #arti1 #noticeButtons{
	text-align: end;
    margin: 5px 60px 0 0px;
}

/* 상담예약 생성 */

main section article #reserBoard {
	height:620px;
	margin: 20px 25px 0 25px;
	padding: 25px;
	border: 25px solid #f9f1c0;
    border-radius: 25px;
    overflow: auto;
}

main section #arti1 #reserBoard h1{
	font-size:1.5rem;
	margin-bottom: 40px;
}

main section #arti1 #reserBoard h1:nth-child(1)::after {
	content: "";
	display: block;
	width: 100%;
	border-bottom: 2px solid black;
	margin-top: 10px;
}

main section #arti1 #reserBoard ul {
	background-color: #f9f1c0;
	border-radius: 15px 15px;
	padding: 50px;
}

main section #arti1 #reserBoard form img {
	width: 300px;
	height: 300px;
	position: relative;
	bottom:100px;
	left: 100px;
}

main section #arti1 #reserBoard form ul{
    height: 444px;
}

main section #arti1 #reserBoard form ul input{
    border: 1px solid #FBD157;
}

main section #arti1 #reserButtons{
	text-align: end;
    margin: 5px 60px 0 0px;
}

.main-content-info {
	display:none;
    position: absolute;
    width: 1050px;
    height: 828px;
    background-color: RGB(249, 241, 192);
    flex-direction: column;
    border-radius: 15px 15px;
    top: 97px;
}

.dog-profile {
    display: flex;
    flex-direction: row nowrap;
}

.profile-img {
    position: absolute;
    width: 300px;
    height: 300px;
    right: 30px;
    top: 30px;
}

.profile-img img {
    width: 300px;
    height: 300px;
}

.dog-shelter {
    padding: 50px;
}

.dog-detail {
    margin-top: 20px;
    padding-bottom: 20px;
}

.dog-detail ul li {
    font-weight: 600;
    padding: 5px 0;
}

.shelter-info {
    padding-top: 20px;
    border-top: 2px solid black;
}

.shelter-detail {
    margin-top: 20px;
}

.shelter-detail ul li {
    font-weight: 600;
    padding: 5px 0;
}

#reserBoard::-webkit-scrollbar{width: 15px;}
#reserBoard::-webkit-scrollbar-track {background-color:white;}
#reserBoard::-webkit-scrollbar-thumb {background-color:#FBD157;border-radius: 10px;}
#reserBoard::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
width:16px;height:16px;background:#f1ef79;} 

