@charset "UTF-8";

/* 네비 */
main {
	display: flex;
	flex-direction: row;
	padding: 10px;
}
main nav {
	flex: 1;
}

main nav #saveNav {
	width: 250px;
	height: 160px;
	background-color: #f9f1c0;
	padding: 10px;
	border-radius: 15px 15px;
}

main nav #saveNav #saveTitle {
	padding-bottom: 5px;
}

main nav #saveNav #saveTitle::after {
	content: "";
	display: block;
	width: 100%;
	border-bottom: 2px solid black;
	padding-bottom: 5px;
}

main nav #saveSubTitle {
	padding: 0 10px;
}

main nav #saveSubTitle a {
	line-height: 40px;
}

main nav #saveSubTitle a:not(:last-child):after {
	content: "";
	display: block;
	width: 100%;
	border-bottom: 1px solid black;
	margin: 5px 0;
}

main nav #saveSubTitle a#focus h4 {
	background-color: RGB(251, 209, 87, .5);
	border-radius: 10px 10px;
	font-weight: 500;
}

main nav #saveSubTitle a h4 {
	padding-left: 5px;
	font-weight: 400;
}

main nav #saveSubTitle a:hover>h4 {
	background-color: RGB(251, 209, 87, .5);
	border-radius: 10px 10px;
	font-weight: 500;
}
/* 게시판 영역 */
main section {
	flex: 9;
	height: 100%;
	width: 100%;
	padding: 0 30px;
}
main section #arti2 {
	background-color: #f9f1c0;
	border-radius: 15px 15px;
	padding: 15px;
}

main section #arti2 #boardBox {
	width: 93%;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 15px 15px;
}
main section #arti2 #boardBox h1 {
	font-size: 30px;
	margin-bottom: 30px;
	padding: 10px;
}

main section #arti2 #boardBox>h1::after {
	content: "";
	display: block;
	width: 100%;
	border-bottom: 2px solid black;
	margin-top: 10px;
}
/* 지역명 */
#selectcity {
	text-align: left;
	border: none;
	outline: none;
	font-weight: bold;
	cursor: pointer;
}

#selectcity select {
	background-color: #fbd157;
	border: none;
	outline: none;
	font-weight: bold;
}

#selectcity select option {
	background-color: #fbd157;
}

#valbtn {
	width: 100%;
	text-align: right;
	margin-top: 20px;
}
/* 버튼 색상 */
.ClickBtn {
	margin: 10px;
	padding: 6px;
	background-color: #fbd157;
	border: none;
	outline: none;
	font-weight: bold;
	cursor: pointer;
}

.ClickBtn:hover {
	background-color: #f9f1c0;
	padding: 4px;
	border: 2px solid #fbd157;
}

.btn {
	background-color: #fbd157;
	border: none;
	outline: none;
	font-weight: bold;
	cursor: pointer;
}
/* 페이징 버튼*/
#pagingBox {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

#SupportNav {
	text-align: center;
	border-bottom: 1px solid #fbd157;
}

.text1 {
	text-align: center;
	padding: 5rem 0;
}

.listup {
	text-align: center;
	border-bottom: 1px solid #fbd157;
}

#money1 option {
	text-align: center;
}

.clearfix {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 자원봉사 리스트 */
#volunteerNav {
	margin: 50px 0;
}
#volList {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-content: center;
	margin-bottom: 50px;
}

#volList #col1 {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	border-spacing: 0 30px;
}
#volList #col1 tbody th,
#volList #col1 tbody td {
	border-bottom: 1px solid #ddd;
}

.searchBox {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

#pagingBox .paging {
	color: #fbd157;
}
.searchBox #searchType, 
.searchBox #search {
	margin-right: 10px;
}
.searchBox #searchBtn {
	border: none;
	outline: none;
	background-color: #fbd157;
	padding: 10px;
	font-weight: bold;
	cursor: pointer;
}
.searchBox #searchBtn:hover {
	background-color: #f9f1c0;
	padding: 8px;
	border: 2px solid #fbd157;
}

/*자원봉사 등록*/
#adminlist {
	width: 100%;
}
#adminlist table {
	margin: 0 auto;
	padding: 100px 0;
}
#adminlist table tr {
	height: 20px;
}
#adminlist table tbody tr td:first-child {
	font-weight: bold;
	background-color: #fbd157;
}
#adminlist table tbody tr td:nth-child(2) input,
#adminlist table tbody tr td:nth-child(2) textarea {
	background-color: #f9f1c0;
	border: none;
	outline: none;
	font-size: 15px;
}
#adminlist table tbody tr td:last-child {
	display: flex;
	justify-content: space-between;
}
#adminlist table tr td #detailText {
	width: 100%;
	height: 100%;
	resize: none;
}
#admin3 {
	padding-top: 100px;
}
#admin3 #addVsmt {
	background-color: #fbd157;
	border: none;
	outline: none;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}
#admin3 #addVsmt:hover {
	background-color: #f9f1c0;
	padding: 8px;
	border: 2px solid #fbd157;
}

/* 자원봉사 참가신청 */
#btnBox {
	padding: 10px;
	width: 100%;
	text-align: right;
}

#btnBox a {
	padding: 10px;
	background-color: #fbd157;
	margin: 5px;
	font-weight: bold;
}

#btnBox a:hover {
	padding: 8px;
	background-color: #f9f1c0;
	border: 2px solid #fbd157;
}

/* 댓글  */
.comment {
	width: 100%;
	height: 100%;
}
.comment .commentCreate p {
	text-align: right;
}
.comment .commentCreate #formBox {
	width: 100%;
	height: 100%;
	font-size: 20px;
	display: flex;
	justify-content: flex-end;
	padding: 10px 0;
}

.comment .commentCreate .cmtSubmitBox {
	width: 100%;
	display: flex;
	justify-content: right;
}

.comment .commentCreate .cmtSubmitBox #cmtSubmit {
	padding: 8px 10px;
	background-color: #fbd157;
	border: none;
	outline: none;
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;
}

.comment .commentCreate .cmtSubmitBox #cmtSubmit:hover {
	padding: 6px 8px;
	background-color: #f9f1c0;
	border: 2px solid #fbd157;
}
/* 댓글 리스트 및 삭제 */
.comment #commentList {
	width: 100%;
}

.comment #commentList .cmt::before {
	content: "";
	display: block;
	border-bottom: 1px solid #fbd157;
	width: 100%;
}

.comment #commentList .cmt .cmtInform {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.comment #commentList .cmt .cmtEditor {
	width: 100%;
	resize: none;
}
.comment #commentList .cmt  .cmtInform .cmtWriter {
	display: inline;
	background-color: #fbd157;
}
.comment #commentList .cmt  .cmtInform .cmtBtns {
	display: inline;
}
.comment #commentList .cmt .cmtInform .cmtDelete,
.comment #commentList .cmt .cmtInform .editModify {
	margin-right: 5px;
}
.comment #commentList .cmt .cmtInform .cmtDelete,
.comment #commentList .cmt .cmtInform .cmtModify,
.comment #commentList .cmt .cmtInform .cmtReport,
.comment #commentList .cmt .cmtInform .editModify,
.comment #commentList .cmt .cmtInform .editCancel {
	padding: 6px;
	background-color: #fbd157;
	border: none;
	outline: none;
	font-weight: bold;
	font-size: 10px;
	cursor: pointer;
}
.comment #commentList .cmt .cmtInform .cmtDelete:hover,
.comment #commentList .cmt .cmtInform .cmtModify:hover,
.comment #commentList .cmt .cmtInform .cmtReport:hover,
.comment #commentList .cmt .cmtInform .editModify:hover,
.comment #commentList .cmt .cmtInform .editCancel:hover {
	padding: 4px;
	background-color: #f9f1c0;
	border: 2px solid #fbd157;
}
.comment #commentList .cmt .cmtDate
	{
	font-size: 12px;
	padding-bottom: 8px;
}
.comment #commentList .cmt .cmtContent
	{
	margin-bottom: 10px;
}
.comment .commentCreate .cmtSubmitBox {
	width: 100%;
	display: flex;
	justify-content: right;
}
.comment .commentCreate .cmtSubmitBox #cmtSubmit {
	padding: 8px 10px;
	background-color: #fbd157;
	border: none;
	outline: none;
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;
}
.comment .commentCreate .cmtSubmitBox #cmtSubmit:hover {
	padding: 6px 8px;
	background-color: #f9f1c0;
	border: 2px solid #fbd157;
}
.comment .commentCreate #commentCreator {
	resize: none;
	width: 100%;
	height: 100%;
	font-size: 20px;
}
/*후원금*/
.text1,
#money1,
#check_moduleBox {
	background-color: rgba(252,252,252,.5);
}
#donaList {
	height: 60vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-content: center;
	margin: 50px 0;
	background: url("../media/bg/donation1.jfif") no-repeat;
	background-position: center !important;
	background-size: 60vh;
}

#donaAmount {
	font-size: 20px;
}

#check_moduleBox {
	display: flex;
	justify-content: center;
	align-items: center;	
	padding: 30px;
}
#check_module {
	padding: 6px;
	background-color: #fbd157;
	border: none;
	outline: none;
	font-weight: bold;
	cursor: pointer;
	font-size: 20px;
}


/*반응형*/
/*데스크탑*/
@media ( max-width : 1560px) {
	/* 봉사 */
	#volList #col1 tbody th, 
	#volList #col1 tbody tr td {
		font-size: 80%;
	}
	
	
}	

@media ( max-width : 1260px) {
	/* 봉사 */
	#volList #col1 {
		width: 125%;
	}
	#volList #col1 thead tr th:nth-child(3),
	#volList #col1 tbody tr td:nth-child(3) {
		display: none;
	}
	main section #arti2 #boardBox #volList #col1 #colCare {
		width: 40%  !important;
	}
}

/* 태블릿 */
@media ( max-width : 1000px) {
	/* 봉사 */
	main {
		flex-direction: column;
	}	
	main nav {
		display: flex;
		justify-content: center;
		align-content: center;
		margin-bottom: 30px;
		
	}	
}

@media ( max-width : 780px) {
	/* 봉사 */
	body {
		overflow-x: hidden; 
	}
	main section {
		padding: 0 10px;
	}
	#volList #col1 tbody tr td#period {
		white-space: pre-line;
	}
	main section #arti2 #boardBox #volList .searchBox #searchBtn {
	    padding: 5px;
	}
	main section #arti2 #boardBox #volList .searchBox #searchBtn:hover {
		padding: 3px;
		border: 2px solid #fbd157;
	}
	/* 후원 */
	#money1 tbody td p select {
		font-size: 16px;
	}
	#check_module {
		padding: 4px;
		font-size: 16px;
	}
	#donaList {
		background: url("../media/bg/donation1.jfif") no-repeat;
		background-position: center !important;
		background-size: 50vh;
	}
}
