<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- alias 설정 -->
<configuration>
	<typeAliases>
		<typeAlias type="kr.co.goodee39.vo.mnwVO" alias="mnwVO"/>
		<typeAlias type="kr.co.goodee39.vo.ImageVO" alias="imgVO"/>
		<typeAlias type="kr.co.goodee39.vo.adminVO" alias="adminVO"/>
		<typeAlias type="kr.co.goodee39.vo.mnwCmtVO" alias="mnwCmtVO"/>
		<typeAlias type="kr.co.goodee39.vo.selfFlyerVO" alias="selfVO"/>
		<typeAlias type="kr.co.goodee39.vo.DonationVO" alias="DonaVO"/>
	</typeAliases>
</configuration>
