<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- alias 설정 -->
<configuration>
	<typeAliases>
		<typeAlias type="kr.co.goodee39.vo.mnwVO" alias="mnwVO"/>
		<typeAlias type="kr.co.goodee39.vo.ImageVO" alias="imgVO"/>
		<typeAlias type="kr.co.goodee39.vo.mnwCmtVO" alias="mnwCmtVO"/>
		<typeAlias type="kr.co.goodee39.vo.selfFlyerVO" alias="selfVO"/>
		<typeAlias type="kr.co.goodee39.vo.NoticeVO" alias="tvo"/>
		<typeAlias type="kr.co.goodee39.vo.MemberVO" alias="memberVO"/>
		<typeAlias type="kr.co.goodee39.vo.DonationVO" alias="DonaVO"/>
		<typeAlias type="kr.co.goodee39.vo.reportVO" alias="repVO"/>
		<typeAlias type="kr.co.goodee39.vo.VolunteerVO" alias="VolunteerVO"/>
		<typeAlias type="kr.co.goodee39.vo.ReservationVO" alias="rvo"/>
		<typeAlias type="kr.co.goodee39.vo.voluntaryVO" alias="voltaVO"/>
	</typeAliases>
</configuration>
